@import '~bootstrap-vue/dist/bootstrap-vue.css';

.control-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:first-child {
    margin-right: 10px;
  }
}
button {
  background: none;
  border: none;
  color: #007bff;
  transition: .3s;
  &:hover {
    color: #0056b3;
    transition: .3s;
  }
}

a {
  transition: .3s;
  &:hover {
    text-decoration: none;
    transition: .3s;
  }
}
.preview-form-container{
  overflow-x: scroll;
}
a.btn {
  color: #fff;
}
.tabs .btn {
  color: inherit;
}

.empty-label {
  min-height: 22px;
}
.article_features_tab {
  input {
    width: 70%;
  }
}

.accordion-container {
    a.btn-info {
        background-color: unset;
        border: none;
        color: #000;
        text-align: left;
        &:before {
            position: absolute;
            right: 27px;
        }
    }
}
